<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gogocosmo.cosmoqiu.fire_sticker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gogocosmo.cosmoqiu.fire_sticker.Acitivty.NewItemActivity"
            android:label="Create a New Sticker"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.gogocosmo.cosmoqiu.fire_sticker.Acitivty.CarouselActivity"
            android:label="@string/title_activity_carousel"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.gogocosmo.cosmoqiu.fire_sticker.Acitivty.LaunchActivity"
            android:label="@string/title_activity_launch"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gogocosmo.cosmoqiu.fire_sticker.Acitivty.EditGroupActivity"
            android:label="@string/title_activity_edit_group"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.gogocosmo.cosmoqiu.fire_sticker.Acitivty.ViewActivity"
            android:label="@string/title_activity_view"
            android:configChanges="orientation|screenSize">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gogocosmo.cosmoqiu.fire_sticker.Acitivty.LaunchActivity" />
        </activity>
    </application>

</manifest>
