<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gogocosmo.cosmoqiu.fire_sticker"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Acitivty.LaunchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Acitivty.NewItemActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_new_item"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Acitivty.CarouselActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_carousel" />
        <activity
            android:name=".Acitivty.EditGroupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_edit_group" />
        <activity
            android:name=".Acitivty.ViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_view"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gogocosmo.cosmoqiu.fire_sticker.Acitivty.LaunchActivity" />
        </activity>
        <activity
            android:name=".Acitivty.SplashScreenActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Acitivty.AboutAppActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
    </application>

</manifest>
